<launch>

    <arg name="config_file" default="$(find fovmpc_controller)/../../config/config.json"/>
    <arg name="NUM_TARGETS" default="1"/>

<!--     <group ns="uav0"> -->
<!--     <node name="goal" pkg="fovmpc_controller" type="goal_node" output="screen"> -->
<!--         <param name="ROBOT_ID" value="0"/> -->
<!--         <param name="CONFIG_FILENAME" type="string" value="$(arg config_file)"/> -->
<!--     </node> -->

<!--     <node name="control" pkg="fovmpc_controller" type="control_node" output="screen"> -->
<!--         <param name="ROBOT_ID" value="0"/> -->
<!--         <param name="NUM_TARGETS" value="$(arg NUM_TARGETS)"/> -->
<!--         <param name="CONFIG_FILENAME" type="string" value="$(arg config_file)"/> -->
<!--     </node> -->
<!--     </group> -->

    <group ns="uav1">
        <node name="goal" pkg="fovmpc_controller" type="goal_node" output="screen">
            <param name="ROBOT_ID" value="1"/>
            <param name="CONFIG_FILENAME" type="string" value="$(arg config_file)"/>
        </node>

        <node name="control" pkg="fovmpc_controller" type="control_node" output="screen">
            <param name="ROBOT_ID" value="1"/>
            <param name="NUM_TARGETS" value="$(arg NUM_TARGETS)"/>
            <param name="CONFIG_FILENAME" type="string" value="$(arg config_file)"/>
        </node>
    </group>

</launch>